
h1, h2 {
	text-align:center;
}

p {
	color: grey;
}

.menu {
	padding: 14px 16px;
	background-color: #DCDCDC;
	width: 100%;
	table-layout: fixed;
	position: fixed;
	top: 0;
	z-index: 2;
	/*border: 1px solid black;
  	border-collapse: collapse;*/

}

.table__2 {
  border: 1px solid black;
  border-collapse: collapse;
}

.i_frame {
	min-height: 500px; 
	width: 100%; 
}


.centered {
	
	background-color: #C8C8C8 ;	
	color: black;
	font-size:300%;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}


.parallax__1 {
  /* The image used */
  background-image: url("../img/01.png");


  /* Set a specific height */
  min-height: 400px; 
  width: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 769px) {
  .parallax__1 {
    background-image: url("../img/13.png");
  }
}

.parallax__2 {
  /* The image used */
  background-image: url("../img/02.png");

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax__3 {
  /* The image used */
  background-image: url("../img/03.png");

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax__4 {
  /* The image used */
  background-image: url("../img/04.png");

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax__5 {
  /* The image used */
  background-image: url("../img/05.png");

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax__6 {
  /* The image used */
  background-image: url("../img/06.png");

  /* Set a specific height */
  min-height: 400px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image__size {
	 width: 200px; 
	 height: 200px;
}

.contact__email {	
	background-color: #DCDCDC;
	width: 100%;	
}